body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Ultility classes */
.hidden{
    display: none;
}

/*Main Header*/
header{
    display: grid;
    place-content: center;
    background-color: aqua;
    height: 150px;
}

#main-logo{
    width: 600px;
    background-color: beige;
}

#main-logo img{
    width: 100%;
}

/*Navigation*/
#galaxy-nav{
    background-color: aquamarine;
}

#galaxy-types{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    list-style-type: none;
}