body{
    font-family: Verdana, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Ultility classes */
.hidden{
    display: none;
}

/*Main Header*/
header{
    display: grid;
    place-content: center;
    background-image: url(../images/starry-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

#main-logo{
    width: 600px;
}

#main-logo img{
    width: 100%;
}

/*Navigation*/
#galaxy-nav{
    padding: 64px 30px;
}

#galaxy-types{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
} 

#galaxy-types a{
    display: block;
    position: relative;
    width: 240px;
}

#galaxy-types li img{
    border-radius: 5px;
}

#galaxy-types li p{
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 15px;
    height: 40px;
    line-height: 40px;
}

/*Click guide*/
#click-guide{
    padding: 52px;
    text-align: center;
    background-color: black;
    color: lightsteelblue;
}

#click-guide h3{
    font-size: 24px;
    margin-bottom: 32px;
    color: rgb(255, 208, 0);
}


/*Footer*/
footer{
    padding: 50px 0;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    line-height: 28px;
    background-color: rgb(46, 46, 46);
    color: white;
}

/*Lightbox*/
.lightbox{
    display: none;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 50px 100px 0px;
    position: absolute;
    inset: 0 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.85);
    background-repeat: no-repeat;
}

.lightbox:target{
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 80px;
}

.lightbox section{
    width: 45vw;
    margin-top: 10vh;
}

.lb-heading{
    font-size: 40px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, blueviolet,deepskyblue);
    filter: brightness(200%);
    background-clip: text;
    background-blend-mode: darken;
    color: rgba(255, 255, 255, 0.19);
    display: inline-block;
}

.lb-text{
    margin-bottom: 20px;
    line-height: 30px;
}

.lightbox hr{
    margin-bottom: 30px;
}

.lightbox section ul{
    margin-left: 20px;
    line-height: 30px;
}

.lb-img{
    width: 450px;
    border: solid 10px white;
    border-radius: 15px;
    height: min-content;
}

.lb-img img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}



.lb-close{
    position: absolute;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    top: 3vh;
    left: 95vw;
    transition: all .5s ease-in-out;
}

.lb-close:hover{
    color: red;
}

/*in-line emphasis*/
.galaxy-name{
    font-weight: bold;
}

/*animation effects*/
.shift:hover::after{
    content: "";
    border-radius: 5px;
    height: 240px;
    opacity: 0%;
    mix-blend-mode: color-dodge;
    position: absolute;
    inset: 0 0;
    animation: glow-up 1.5s linear alternate;
}

@keyframes glow-up{
    0%{opacity: 0%}
    50%{opacity: 40%}
    100%{opacity: 0%;}
}

.blue:hover::after{
    background-image: linear-gradient(35deg, blueviolet,deepskyblue);    
}

.red:hover::after{
    background-image: linear-gradient(45deg, rgb(226, 43, 141),blueviolet);
}

#milky:hover::after{
    background-color: rgba(55,55,55,0.85)
}
